/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-icon {
    font-size: 22px;
    height: 22px;
    width: 22px;
}

.button-row button + button,
.button-row button + a,
.button-row a + a,
.button-row a + button {
  margin-left: 8px;
}